*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Martian Mono';
    background-color: rgb(242, 106, 88);
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 90%;
    padding-top: 3rem;
}

.left{
    width: 40%;
    padding-right: 1.5rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.right{
    width: 60%;
    padding-left: 1.5rem;

}

h1{
    text-transform: uppercase;
    font-style: italic;
    font-size: 3rem;
}

ul{
    font-size: 1.5rem;
    line-height: 2.3rem;
    margin-top: 2rem;
}

.aggiungi{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

h2{
    text-transform: uppercase;
    margin-top: 4rem;
}

.barra{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
}

input{
    width: 85%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    height: 2.5rem;
    border: none;
    background-color: rgb(243, 136, 122);
}

input:hover{
    border: 1px solid white;
}

button{
    background-color: transparent;
    border: none;
    font-size: 2rem;
}

.fa-solid{
    color: rgb(251, 248, 248);
    cursor: pointer;
    margin-left: 0.8rem;
}

.fa-solid:hover{
    transform: scale(1.1);
}